// .container{
//     background-image: url(t3.jpg);
//     background-size: cover;
//     // justify-items: end;



// }
.faq-container {
    max-width: 800px;
    // margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.faq-list {
    list-style: none;
    padding: 0;
    margin: 0;

}

.faq-item {
    margin-bottom: 20px;
}

.faq-question {
    font-weight: bold;
    margin-bottom: 10px;
}

.faq-answer {
    font-size: 16px;
    color: #666;
}

