.p-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  min-height: 100vh;
  // background: linear-gradient(to bottom right, #3a86ff, #8338ec);
  color: #fff;
  font-family: Arial, sans-serif;
  background-image: url(hi222.jpeg);
  background-size: cover;
  background-repeat: no-repeat;

  .form {
    background: #fff;
    color: #333;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .input {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      label {
        font-weight: bold;
        color: #555;
      }
      
      input,
      textarea {
        padding: 0.8rem;
        font-size: 1em;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      textarea {
        resize: vertical;
        min-height: 100px;
      }
    }

    .submit-button {
      
      padding: 0.8rem;
      font-size: 1.1em;
      font-weight: bold;
      color: #fff;
      background-color: green;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: greenyellow;
      }
    }
  }
}
.spn{
  font-size: 10px;
}