$primary-color: #3b82f6; 
$hover-color: #2563eb;
$text-color: black; 
$bg-color: #f9fafb; 
$card-bg-color: #ffffff; 
$border-color: #e5e7eb; 

.container {
  margin: 0;
  padding: 2rem;
  //  max-width: 1200px; 
  // background-image: url(path.jpg) ;
  // background-size: cover;
  text-align: center;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  
  
}
.hi{
  background-image: url(path.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 2rem;
}

.language-switcher {
  position: relative;
  display: inline-block;
  text-align: left;
  margin-bottom: 2rem;

  .dropdown-btn {
    padding: 0.5rem 1rem;
    background-color: $primary-color;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 0.375rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $hover-color;
    }
  }

  .dropdown-options {
    position: absolute;
    margin-top: 0.5rem;
    width: 10rem;
    background-color: $card-bg-color;
    border: 1px solid $border-color;
    border-radius: 0.375rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;

    button {
      display: block;
      width: 100%;
      padding: 0.5rem 1rem;
      text-align: left;
      color: $text-color;
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #f1f5f9; 
        color: $primary-color;
      }
    }
  }
}
a{
  text-decoration: none;
}
.options {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 4.5rem;

  .option-card {
    padding: 1.5rem;
    background-color: $card-bg-color;
    border: 1px solid $border-color;
    border-radius: 0.375rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 250px;
    width: 250px;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }
    

    .option-title {
      font-size: 1.25rem;
      font-weight: bold;
      color: $text-color;
      margin-bottom: 0.5rem;
    }

    .option-text {
      color: darken($text-color, 20%);
    }
  }
}