.navbar {
    background-color: #1f2937; 
    color: #f3f4f6; 
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    .navbar-container {
      max-width: 1280px;
      margin: 0 auto;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .logo {
      font-size: 1.875rem; 
      font-weight: bold;
      color: #6366f1; 
  
      .logo-link {
        color: inherit;
        text-decoration: none;
  
        &:hover {
          color: #fbbf24; 
        }
      }
    }
  
    .hamburger-icon {
      display: flex;
      @media (min-width: 768px) {
        display: none;
      }
  
      .icon-button {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
  
        .hamburger-svg {
          width: 1.5rem;
          height: 1.5rem;
          color: inherit;
          transition: transform 0.3s;
  
          &.open {
            transform: rotate(45deg);
          }
        }
      }
    }
  
    .links-container {
      display: none;
      flex-direction: column;
      align-items: center;
  
      @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
      }
  
      &.open {
        display: flex;
      }
  
      .link {
        color: inherit;
        margin: 0.5rem 0;
        text-decoration: none;
        font-size: 1.125rem; 
  
        @media (min-width: 768px) {
          margin: 0;
          margin-left: 1.5rem; 
        }
  
        &:hover {
          color: #6366f1; 
        }
  
        &.active {
          color: #6366f1; 
        }
      }
  
      .dropdown {
        position: relative;
  
        .dropdown-button {
          font-size: 1.125rem;
          color: inherit;
          background: none;
          border: none;
          cursor: pointer;
  
          &:hover {
            color: #6366f1;
          }
        }
  
        .dropdown-menu {
          position: absolute;
          right: 0;
          margin-top: 0.5rem;
          width: 12rem;
          background-color: #1f2937; 
          border-radius: 0.25rem;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          z-index: 20;
  
          .dropdown-link {
            display: block;
            padding: 0.5rem 1rem;
            font-size: 1.125rem;
            color: #f3f4f6;
            text-decoration: none;
  
            &:hover {
              background-color: #374151; 
            }
          }
        }
      }
    }
  }
  